.container {
  display: flex;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
}

.view-all {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
    color: var(--primary-color);
  }
}

.slider {
  width: 100%;
  min-height: 100px;
  position: relative;

  &-border {
    width: 100%;
    padding: 20px 5px 10px;
    overflow: hidden;
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    transition: transform 0.3s ease-in-out;
  }

  &:hover &-button {
    display: flex;
  }

  &-button {
    display: none;
    width: 50px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
    opacity: 0.5;
    z-index: 2;
  }

  &-button + &-button {
    left: unset;
    right: -25px;
  }

  &-button:hover {
    cursor: pointer;
    opacity: 1;
  }
}


.scroll-border {
  overflow: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: var(--light-black-color);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 8px;
  }
}

.no-display {
  display: none!important;
}