.container {
  display: flex;
  padding: 0 105px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
}

.view-all {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 500;
}

.view-all:hover {
  text-decoration: underline;
  color: var(--primary-color);
}

.slider {
  width: 100%;
  min-height: 100px;
  position: relative;
}

.slider-border {
  width: 100%;
  padding: 10px 5px;
  // overflow: hidden;
}

.slider-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  transition: transform 0.3s ease-in-out;
}

.slider:hover .slider-button {
  display: flex;
}

.slider-button {
  display: none;
  width: 50px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  opacity: 0.5;
  z-index: 2;
}

.slider-button + .slider-button {
  left: unset;
  right: -25px;
}

.slider-button:hover {
  cursor: pointer;
  opacity: 1;
}