@import "../../../../components/GlobalStyles//responsive.scss";

.container {
  display: flex;
  gap: 30px;
  height: 280px;
  padding: 0 105px;
  padding-bottom: 80px;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
    height: unset;
    margin: 20px 0;
  }
}

.link {
  height: 100%;
  flex: 1;
  text-decoration: none;

  @include mobile {
    display: block;
    height: 200px;
    width: 100%;
  }
}

.block {
  height: 100%;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.9;
  }

  &-double {
    display: flex;
    height: 100%;
    flex: 2;
    align-items: center;
    background-color: var(--light-black-color);
    border-radius: 15px;
    overflow: hidden;

    @include mobile {
      width: 100%;
    }
  }
}

.content-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include mobile {
    position: relative;
    top: unset;
    transform: none;
    padding: 10px;
    height: 100%;
  }
}

.telegram {
  background: linear-gradient(
    135deg,
    rgba(0, 250, 175, 1),
    rgba(0, 139, 250, 1)
  );

  &:hover {
    background: linear-gradient(
      -45deg,
      rgba(0, 250, 175, 1),
      rgba(0, 139, 250, 1)
    );
  }
}

.instagram {
  background: linear-gradient(
    135deg,
    rgba(211, 0, 197, 1),
    rgba(255, 122, 0, 1)
  );

  &:hover {
    background: linear-gradient(
      -45deg,
      rgba(211, 0, 197, 1),
      rgba(255, 122, 0, 1)
    );
  }
}

.icon {
  width: 100%;
  margin-bottom: 20px;
  font-size: 5rem;
  color: var(--white-color);
  text-align: center;

  @include mobile {
    margin-bottom: 0;
  }
}

.name {
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  text-align: center;
  user-select: none;

  @include mobile {
    font-size: 1.2rem;
  }
}

.subscribe {
  max-width: 150px;
  width: 30%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(97, 29, 186, 1),
    rgba(160, 96, 242, 1)
  );
  position: relative;
  border-radius: 10px;
}

.at-icon {
  width: 100%;
  color: var(--white-color);
  font-size: 5rem;
  text-align: center;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 25px 20px 25px 30px;
  flex: 1;

  @include mobile {
    padding: 0;
    margin: 0 10px;
    height: 100%;
  }
}

.text {
  flex: 1;
  color: var(--gray-color);
  font-size: 1.5rem;
  line-height: 2rem;

  @include mobile {
    display: none;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  @include mobile {
    flex-direction: column;
    gap: 10px;
  }
}

.input {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  border: none;
  outline: none;
  background-color: #404040;
  color: var(--white-color);
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 5px;

  @include mobile {
    width: 100%;
  }
}

.btn {
  height: 100%;
  padding: 0 20px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 5px;

  @include mobile {
    width: 100%;
    height: 40px;
  }

  &:hover {
    background-color: var(--light-primary-color);
    cursor: pointer;
  }
}
