.container {
  padding: 0 105px;
}

.title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 500;
}

.main {
  display: flex;
  height: 495px;
  align-items: center;
  justify-content: center;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 10px 20px 30px 20px;
  flex: 1;
  margin-right: 20px;
  background-color: var(--light-black-color);
  border-radius: 10px;
}

.trailer {
  &-list {
    margin-top: 10px;
    flex: 1;
    overflow: auto;
  }
  
  &-list::-webkit-scrollbar {
    width: 8px;
  }
  
  &-list::-webkit-scrollbar-track {
    background: var(--light-black-color);
  }
  
  &-list::-webkit-scrollbar-thumb {
    background: var(--white-color);
    border-radius: 2px;
  }
  
  &-list::-webkit-scrollbar-thumb:hover {
    background: var(--white-hover-color);
  }
  
  &-item {
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
  }
  
  &-item:hover {
    cursor: pointer;
    background-color: var(--black-color);
  }
  
  &-item:hover &-name {
    color: var(--primary-color);
  }
  
  &-img {
    width: 150px;
    height: 85px;
    margin-left: 5px;
    border: 1px solid var(--white-color);
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
    user-select: none;
  }
  
  &-info {
    display: flex;
    height: 100%;
    padding: 5px 0;
    margin-left: 10px;
    align-items: center;
  }

  &-name {
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 400;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-btn {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--white-color);
  border-radius: 50%;
  color: var(--white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.player-container {
  width: 880px;
  height: 100%;
  background-color: var(--light-black-color);
}

.horizontal {
  .main {
    height: unset;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .player-container {
    height: 495px;
  }

  .thumbnails {
    margin-right: 0;
    margin-top: 10px;
    padding: 0px 10px 10px;
    flex-direction: row;
  }

  .trailer-list {
    width: 880px;
    display: flex;
    overflow: auto;
  }

  .trailer-info {
    display: none;
  }

  .trailer-img {
    margin: 0 5px;
  }
}