.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background: red;
}

.headerTrailers {

}

.main {

}

.slider {

}

.slider-item {

}

.slider-item-image {
  width: 216px;
  height: 144px;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
  border-radius: 10px;
}

.play-button {

}

.slider-itemname {

}

.button-up {

}

.button-down {

}

.background-image {
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
}

.free-space {

}

.background-play-btn {

}

.background-name {

}