.container {
  display: block;
  width: 233px;
  height: 288px;
  flex: none;
  position: relative;
  overflow: hidden;

  & + & {
    margin-left: 15px;
  }

  &:hover .cast-name {
    display: inline;
  }

  &:hover .birthday {
    display: inline;
  }
}

.link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  position: relative;
  border-radius: 15px;

  &:hover .hover-overlay {
    display: block;
  }

  &-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    color: var(--light-black-color);
    border-radius: 50%;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  background-color: var(--light-black-color);
  border: 1px solid var(--light-black-color);
  border-radius: 15px;
  user-select: none;
}

.hover-overlay {
  display: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.cast-name {
  width: 100%;
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;

  &-wrap {
    display: flex;
    width: 100%;
    min-height: 50px;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.birthday {
  display: none;
  margin-top: 10px;
  color: var(--black-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.no-display {
  display: none !important;
}
