@import "../../../../components/GlobalStyles/GlobalStyles.scss";
@import "../../../../components/GlobalStyles/responsive.scss";

.container {
  width: 100%;
  height: 100vh;
  background-color: var(--black-color);
  overflow: hidden;
  position: relative;
  user-select: none;

  @include tablet {
    height: auto;
  }

  @include mobile {
    margin-top: 70px;
    height: auto;
  }
}

.overlay {
  height: 150vh;
  width: 150vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    box-shadow: 0 0 200px 400px rgba(97, 29, 186, 0.8);
    transform: rotate(-35deg);

    @include tablet {
      display: none;
    }

    @include mobile {
      display: none;
    }
  }

  @include tablet {
    height: unset;
    width: unset;
    top: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      rgba(97, 29, 186, 1),
      rgba(97, 29, 186, 0)
    );
  }

  @include mobile {
    width: unset;
    height: unset;
    display: none;
  }
}

//background image-----------------------------------------------
.image-placeholder {
  display: block;
  width: 100vw;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  opacity: 0;
}

.image {
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1s ease;

  &-active {
    opacity: 1;
  }

  @include tablet {
    width: 100vh;
    height: auto;
  }

  @include mobile {
    width: 100vw;
    height: auto;
  }
}

//movie name, rating and poster----------------------------------------
.movie-info {
  position: absolute;
  left: 100px;
  top: 15%;
  z-index: 2;

  @include mobile {
    top: 20px;
    left: 20px;
  }
}

.movie-name {
  width: 800px;
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 20px;

  @include mobile {
    font-size: 1.8rem;
    margin-bottom: 5px;
  }
}

.rating {
  display: flex;
  align-items: center;
}

.imdb {
  &-logo {
    display: flex;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #ff9900;
    color: var(--white-color);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    align-items: center;
    justify-content: center;

    @include mobile {
      font-size: 1rem;
    }
  }

  &-score {
    color: var(--white-color);
    font-size: 3rem;

    @include mobile {
      font-size: 1.8rem;
    }
  }

  &-max-score {
    color: var(--white-color);
    margin-left: 5px;
    font-size: 2.5rem;
    font-weight: 500;

    @include mobile {
      font-size: 1.8rem;
    }
  }
}

.poster-slider-border {
  height: 340px;
  width: 730px;
  padding: 10px 0;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 15%;
  z-index: 2;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.poster-slider {
  margin-left: 300px;
  display: flex;
  position: relative;
  transition: transform 0.5s ease;
}

.poster-slide {
  &-0 {
    transform: translateX(0);
  }

  &-1 {
    transform: translateX(calc(-203px - 20px));
  }

  &-2 {
    transform: translateX(calc(-203px * 2 - 20px * 2));
  }

  &-3 {
    transform: translateX(calc(-203px * 3 - 20px * 3));
  }

  &-4 {
    transform: translateX(calc(-203px * 4 - 20px * 4));
  }
}

.poster {
  width: 203px;
  height: 288px;
  flex: none;
  object-fit: cover;
  overflow: hidden;
  background-color: var(--light-primary-color);
  border: 2px solid var(--white-color);
  border-radius: 15px;

  &-link {
    transition: transform 0.5s ease;
  }

  &-link + &-link {
    margin-left: 20px;
  }

  &-active {
    transform: translateY(-30px);
  }

  &:hover {
    border-color: var(--turquoise-color);
    cursor: pointer;
    box-shadow: 0 0 10px 3px var(--turquoise-color);
  }
}

.current {
  &-poster {
    width: 176px;
    height: 250px;
    flex: none;
    object-fit: cover;
    overflow: hidden;
    background-color: var(--light-primary-color);
    border: 2px solid var(--white-color);
    border-radius: 15px;

    &-link {
      display: none;
      margin-top: 20px;

      @include tablet {
        display: block;
      }
    }

    &-link + &-link {
      margin-left: 20px;
    }

    &:hover {
      border-color: var(--turquoise-color);
      cursor: pointer;
      box-shadow: 0 0 10px 3px var(--turquoise-color);
    }
  }

  &-movie-link {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
  }
}

//next, prev, dots---------------------------------------------
.slider-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;

  @include mobile {
    display: none;
  }

  &-group {
    width: 125px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 15%;
    right: 100px;
    z-index: 2;

    @include mobile {
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:hover {
    background-color: var(--light-primary-color);
    cursor: pointer;
  }
}

.slider-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.slider-dot,
.slider-dot-active {
  margin: 0 2px;
  cursor: pointer;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);

  &-active {
    width: 10px;
    height: 10px;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--white-color);
  }
}
