.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--black-color);
  color: var(--white-color);
}

.btn {
  display: flex;
  background: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  font-size: 3.5rem;
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  
  &:hover {
    color: var(--primary-color);
    cursor: pointer;
  }

  &-back {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
  }

  &-report {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
  }
}

.bottom-section {
  display: flex;
  padding: 0 20px 40px;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .watch-progress {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .progress-bar {
    height: 5px;
    flex: 1;
    background-color: var(--gray-color);
  }
  
  .remaining-time {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-color);
  }
  
  .btn-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .left-side {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .series-only {
        display: flex;
        margin-right: 30px;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
    }
  }
}

.config {
  &-wrapper {
    position: relative;

    &::before {
      content: '';
      width: 200px;
      height: 30px;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover .config-modal {
      display: block;
    }
  }


  &-modal {
    display: none;
    padding: 30px;
    position: absolute;
    background-color: var(--light-black-color);
    border-radius: 10px;
    top: 0;
    right: -2.5px;
    transform: translateY(calc(-100% - 20px));
    box-shadow: 0 0 10px 3px rgba(204, 204, 204, 0.2);
    animation: fadeIn 0.2s ease-in;
  }

  &-modal::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10px;
    border-top: 20px solid var(--light-black-color);
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }

  &-title {
    margin-bottom: 10px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
  }

  &-options {
    display: flex;
    list-style: none;
    padding: none;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  &-option {
    min-width: 30px;
    padding: 5px;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    border-radius: 3px;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
  }

  &-option:hover {
    cursor: pointer;
    background-color: var(--light-primary-color);

    .hd-label {
      // display: none;
      background-color: transparent;
    }
  }

  &-option-active {
    background-color: var(--primary-color);

    &:hover {
      cursor: default;
      background-color: var(--primary-color);
    }
  }

  &-section + &-section {
    margin-top: 20px;
  }
}

.no-display {
  display: none!important;
}

.hd-label {
  color: var(--red-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%) translateX(100%);
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}