@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: rgb(97, 29, 186);
  --light-primary-color: rgb(160, 96, 242);
  --white-color: #FFFFFF;
  --white-hover-color: rgb(204, 204, 204);
  --black-color: rgb(22, 22, 22);
  --light-black-color: rgb(32, 32, 32);
  --gray-color: rgb(107, 107, 107);
  --gray-hover-color: rgb(136, 136, 136);
  --turquoise-color: rgb(96, 242, 190);
  --green-color: #00A310;
  --red-color: #FF0000;
  --orange-color: #FF9900;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  font-size: 1.6rem;
  text-rendering: optimizeSpeed;

  //scrollbar
  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: var(--light-black-color);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray-color);
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: grab;
  }

  &::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
}