.border {
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, rgba(97, 29, 186, 1), rgba(160, 96, 242, 1), rgba(97, 29, 186, 1));
}

.container {
  width: 100%;
  padding: 0px 105px;
  background-color: var(--black-color);
}

.content {
  display: flex;
  gap: 15px;
  padding: 20px 0;
  border-bottom: 3px solid var(--light-black-color);
  min-height: 100px;
}

.introduction {
  flex: 1;
  padding: 25px;
  background-color: var(--light-black-color);
  border-radius: 20px;
}

.logo-container {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.logo {
  height: 160px;
  width: auto;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;
}

.title {
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.introduction-text {
  color: var(--gray-color);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.downloads {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.download-upper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.download-app {
  flex-grow: 3;
  display: flex;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.download-text {
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 500;
}

.download-btn {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: var(--light-primary-color);
  color: var(--white-color);
  font-size: 2.5rem;
  border-radius: 10px;
}

.download-btn:hover {
  cursor: pointer;
  background-color: rgb(171, 119, 238);
}

.certificate {
  flex-grow: 1;
  display: flex;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 10px;
}

.download-blocks {
  flex-grow: 2;
  display: flex;
  gap: 15px
}

.block {
  flex: 1;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-black-color);
  border-radius: 10px;
}

.block-title {
  margin-bottom: 30px;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.block-link {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  user-select: none;
}

.block-img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.microsoft-store-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  user-select: none;
}

.microsoft-store-text {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black-color);
  user-select: none;
}

.credit {
  padding-bottom: 20px;
}