.border {
  width: 100%;
  height: 15px;
  background: linear-gradient(90deg, rgba(97, 29, 186, 1), rgba(160, 96, 242, 1), rgba(97, 29, 186, 1));
}

.container {
  width: 100%;
  padding: 0px 105px;
  background-color: var(--black-color);
}

.content {
  display: flex;
  gap: 15px;
  padding: 20px 0;
  border-bottom: 3px solid var(--light-black-color);
  min-height: 100px;
}

.introduction {
  flex: 1;
  padding: 25px;
  background-color: var(--light-black-color);
  border-radius: 20px;
}

.logo {
  height: 160px;
  width: auto;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -25px;

  &-container {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
  }
}

.title {
  margin-top: 5px;
  margin-bottom: 15px;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.introduction-text {
  color: var(--gray-color);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
}

.downloads {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.download {
  &-upper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  
  &-app {
    flex-grow: 3;
    display: flex;
    height: 100%;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    border-radius: 10px;
  }
  
  &-text {
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 500;
  }
  
  &-btn {
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: var(--light-primary-color);
    color: var(--white-color);
    font-size: 2.5rem;
    border-radius: 10px;
  }
  
  &-btn:hover {
    cursor: pointer;
    background-color: rgb(171, 119, 238);
  }
  
  &-blocks {
    flex-grow: 2;
    display: flex;
    gap: 15px
  }
}

.certificate {
  flex-basis: calc((100% - 45px) / 4);
  display: flex;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border-radius: 10px;
  text-decoration: none;
}

.block {
  flex: 1;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-black-color);
  border-radius: 10px;

  &-title {
    margin-bottom: 30px;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 400;
  }

  &-link {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    user-select: none;
  }

  &-img {
    width: 100px;
    height: auto;
    object-fit: contain;
  }
}

.microsoft-store {
  &-icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
    user-select: none;
  }
  
  &-text {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black-color);
    user-select: none;
  }
}

.email-contact{
  text-decoration: none;
  color: var(--white-color);
  font-size: 5rem;
  text-align: center;

  & .download-text {
    font-size: 1.5rem;
  }
}

.credit {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;

  &-text {
    color: var(--gray-color);
    font-size: 1.4rem;
    font-weight: 400;
  } 
}

.design-link {
  margin-left: 5px;
  text-decoration: none;
}

.social-media {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  font-size: 2.5rem;
  text-decoration: none;
  
  &-group {
    display: flex;
  }

  &:hover {
    color: var(--primary-color);
  }
}