.content {
  min-height: 2000px;
  background: linear-gradient(180deg, rgb(97, 29, 86), rgb(105, 120, 40));
}

.header {
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)) ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.5s ease;
}

.logo {
  min-width: 80px;
  background-color: purple;
}

.navigation {
  width: 380px;
  margin-left: 100px;
  display: flex; 
  list-style: none;
  justify-content: space-between;
}

.navigation-link {
  text-decoration: none;
  cursor: pointer;
}

.navigation-text {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--white-color);
}

.navigation-text:hover {
  color: var(--primary-color);
}

.search-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--white-color);
}

.search-icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header-button-group {
  position: absolute;
  right: 50px;
}

.login-btn {
  width: 105px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.75rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: var(--light-primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.signup-btn {
  width: 105px;
  height: 40px;
  margin-left: 15px;
  padding: 10px 0;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 1.75rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.signup-btn:hover {
  color: var(--primary-color);
  cursor: pointer;
}