.header {
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(0,0,0,0.2), rgba(0,0,0,0)) ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.5s ease;
}

.logo-container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.logo {
  height: 150px;
  object-fit: contain;
}

.navigation {
  margin-left: 50px;
  display: flex; 
  list-style: none;
  align-items: center;
}

.navigation-link {
  font-family: 'Poppins';
  text-rendering: optimizeSpeed;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.navigation-item {
  position: relative;
}

.navigation-item + .navigation-item {
  margin-left: 30px;
}

.back-to-home {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-decoration: none;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 5px;
  cursor: pointer;
}

.back-to-home:hover {
  color: var(--primary-color);
  background-color: rgba(22, 22, 22, 0.5);
  border-color: var(--primary-color);
}

.back-to-home .navigation-text {
  margin-left: 5px;
}

.back-to-home:hover .navigation-text {
  color: var(--primary-color);
}

.navigation-text {
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--white-color);
}

.navigation-text:hover {
  color: var(--primary-color);
}

.search-icon {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--white-color);
}

.search-icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.header-button-group {
  position: absolute;
  right: 50px;
}

.login-btn {
  width: 105px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.75rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: var(--light-primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.signup-btn {
  width: 105px;
  height: 40px;
  margin-left: 15px;
  padding: 10px 0;
  background-color: var(--white-color);
  color: var(--black-color);
  font-size: 1.75rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}

.signup-btn:hover {
  color: var(--primary-color);
  background: var(--white-hover-color);
  cursor: pointer;
}

//Searchbar 
.search-border {
  overflow: hidden;
}

.search-wrap {
  display: flex;
  align-items: center;
  transform: translateX(-305px);
  transition: transform 0.5s ease;
  position: relative;
}

.search-open {
  transform: translateX(0);
}

.search-bar {
  display: flex;
  width: 300px;
  height: 100%;
  margin-right: 5px;
  padding: 5px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid var(--primary-color);
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.search-open .search-bar {
  opacity: 1;
}

.search-input {
  flex-grow: 1;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
}

.search-clear {
  display: flex;
  width: 15px;
  margin-left: 5px;
  outline: none;
  border: none;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--light-primary-color);
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.search-clear:hover {
  cursor: pointer;
  background: var(--light-primary-color);
  color: var(--white-color);
}

.no-display {
  display: none!important;
}

.search-result-wrapper {
  width: 300px;
  padding: 20px 0;
  position: absolute;
  left: 0;
  top: calc((100% + 15px));
  background: var(--black-color);
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  z-index: 10;
}

.search-result-wrapper::before {
  content: '';
  position: absolute;
  top: -19px;
  left: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--gray-color) transparent;
}

.search-results {
  min-height: 50px;
  max-height: 50vh;
  overflow: auto;
  position: relative;
}

.result-item {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  background-color: var(--black-color);
  text-decoration: none;
}

.result-item:hover {
  background-color: var(--light-black-color);
  cursor: pointer;
}

.result-img {
  width: 61px;
  height: 92px;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
  background: var(--gray-color);
  border: 1px solid var(--white-color);
  border-radius: 5px;
}

.result-info {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.result-name {
  margin-bottom: 5px;
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-item:hover .result-name {
  color: var(--primary-color);
}

.result-type {
  color: var(--gray-color);
  font-size: 1.4rem;
  font-weight: 400;
}

.result-item:hover .result-type {
  color: var(--white-hover-color);
}

.no-result {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.no-result-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-color);
}

.search-results::-webkit-scrollbar {
  width: 10px;
}

.search-results::-webkit-scrollbar-track {
  background: var(--black-color);
}

.search-results::-webkit-scrollbar-thumb {
  background: var(--white-color);
  border-radius: 5px;
}