.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(60deg, rgba(97, 29, 186, 0.6), rgba(97, 29, 186, 0));
  z-index: 1;
}

.image {
  min-width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  transform: translateX(0);
  transition: transform 1s ease;
}

.slider-button-group {
  width: 125px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15%;
  right: 100px;
  z-index: 2;
}

.slider-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 50%;
  border: none;
}

.slider-button:hover {
  background-color: var(--light-primary-color);
  cursor: pointer;
}

.slider-dot-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.slider-dot,
.slider-dot-active {
  margin: 0 2px;
  cursor: pointer;
}

.slider-dot {
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}

.slider-dot-active {
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--white-color);
}