.container {
  display: flex;
  gap: 30px;
  height: 280px;
  padding: 0 105px;
  padding-bottom: 80px;
  margin-top: 80px;
  align-items: center;
  justify-content: space-between;
}

.link {
  height: 100%;
  flex: 1;
  text-decoration: none;
}

.block {
  height: 100%;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}

.content-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.block:hover {
  opacity: 0.9;
}

.telegram {
  background: linear-gradient(135deg, rgba(0, 250, 175, 1), rgba(0, 139, 250, 1));
}

.instagram {
  background: linear-gradient(135deg, rgba(211, 0, 197, 1), rgba(255, 122, 0, 1));
}

.icon {
  width: 100%;
  margin-bottom: 20px;
  font-size: 5rem;
  color: var(--white-color);
  text-align: center;
}

.name {
  font-size: 1.7rem;
  color: var(--white-color);
  font-weight: 500;
  text-align: center;
  user-select: none;
}

.block-double {
  display: flex;
  height: 100%;
  flex: 2;
  align-items: center;
  background-color: var(--light-black-color);
  border-radius: 15px;
  overflow: hidden;
}

.subscribe {
  max-width: 150px;
  width: 30%;
  height: 100%;
  background: linear-gradient(135deg, rgba(97, 29, 186, 1), rgba(160, 96, 242, 1));
  position: relative;
  border-radius: 10px;
}

.at-icon {
  width: 100%;
  color: var(--white-color);
  font-size: 5rem;
  text-align: center;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 25px 20px 25px 30px;
  flex: 1;
}

.text {
  flex: 1;
  color: var(--gray-color);
  font-size: 1.5rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  border: none;
  outline: none;
  background-color: #404040;
  color: var(--white-color);
  font-size: 1.7rem;
  font-weight: 400;
  border-radius: 5px;
}

.btn {
  height: 100%;
  padding: 0 20px;
  outline: none;
  border: none;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.7rem;
  font-weight: 500;
  border-radius: 5px;
} 

.btn:hover {
  background-color: var(--light-primary-color);
  cursor: pointer;
}